<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5044</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <loggerName/>
                <pattern>
                    <pattern>
                        {
                        "service": "gateway",
                        "level": "%level",
                        "thread": "%thread",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
        <keepAliveDuration>5 minutes</keepAliveDuration>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] [%thread] [%-5level %logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.gw.test" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.netflix.astyanax" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STASH"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>